@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/chatbg.png");
    height: 550px;
    width: 90vw;
}

.text {
    color: #ffffff;
    font-size: 15px;
}

.head {
    text-align: center;
    background-color: #323f4b;
    height: 60px;
    font-family: Roboto;
    font-size: 25px;
    padding-top: 15px;
}

.right {
    text-align: right;
    background-color: #47a3f3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 12px;
    width: 75vw;
}

.left {
    text-align: left;
    background-color: #52606d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 12px;
    width: 75vw;
}
.innerContainer{
    margin-top: 10px;
    margin-left: 30px;
}
