@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-image {
    background-image: url("https://new-assets.ccbp.in/frontend/static-website/moon-stars-bg.png");
    height: 100vh;
    width: 100vw;
    padding: 30px;
    padding-top: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.text {
    font-family: "Bree Serif";
    text-align: center;
    color: #ffffff;
}
.t{
     font-family: "Bree Serif";
     color: #ffffff;
     text-align: left;
}
.card {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/moon-bg.png");
    height:200px;
    width: 75vw;
    padding: 30px;
    padding-top: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:20px;
}

.button {
    text-align: center;
    background-color: #8e97fd;
    color: #ffffff;
    border-radius: 20px;
    height: 30px;
    width: 100px;
}

.color {
    color: #ffe7bf;
}

.img {
    min-height: 40vh;
    flex-grow: 1;
    width: 100%;
    border-radius: 10px;
}
.imge{
    height: 130px;
    width: 180px;
}
.bgcolor {
    background-color: #03174c;
    text-align: left;
}
.padding{
    padding-top: 40px;
    padding: 20px;
    padding-bottom: 40px;
}
.txtcolor {
    color: #98a1bd;
    font-family: "Bree Serif";
}
