@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg {
    background-color: #875fc0;
    height: 100%;
    background-size: cover;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.right {
    text-align: right;
    color: #ffffff;
    padding: 5px;
    font-family: "Roboto";
}

.card {
    background-color: #ffffff;
    margin: 10px;
    border-radius: 5px;
    padding-bottom: 10px;
}

.center {
    text-align: center;
}

.image {
    margin: 5px;
    background-size: cover;
    height: 30vh;
    width: 40vh;
}

.ordered-list {
    list-style-type: upper-alpha;
}

.margin {
    margin: 5px;
}

.border {
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    border-style: solid;
    border-width: 55px;
    border-color: #1f2933;
}

.c-option {
    background-color: #875fc0;
    color: #ffffff;
}

.family {
    font-family: "Roboto";
}

.ul {
    list-style-type: none;
}
